body{
    margin: 0;
}
.navbar {
      margin-bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
.navbar-brand{
    font-family: cookie, cursive;
}
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #000  !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
.bg-1{
    background-image: url(../images/img-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 683px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.bg-2{
    background-color:rgba(255,255,255,0.4);
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: cookie, cursive;
    letter-spacing: 5px;
}
.contai {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(255,255,255,0.7);
}

.contai:hover .overlay {
  opacity: 1;
}

.text {
  font-family: cookie, cursive;
  color: #000;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-family: cookie, cursive;
    font-size: 70px;
}
hr{
    width: 100px;
    border-spacing: 30px;
    border: 2px solid skyblue;
}
.bg-3{
    margin-top: 20px;
    background-color: #fff;
    background-image: url(../images/img-28.jpeg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 20px;
}
.bdr{
    border: 4px solid #fff;
}
.bg-4{
    font-size: 40px;
    font-family: cookie, cursive;
    letter-spacing: 5px;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.cont {
  padding: 0 16px; 
}

.cont::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.bg-5{
    margin-top: 20px;
}
footer{
    margin-top: 20px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sonu{
    color: #fff;
    line-height: 30px;
}
.sonu:hover{
    color: #fff;
}